.layout__container {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.box__image-container {
    width: 100%;
    height: 50vh;
    object-fit: cover;
    background-color: #ffffff;
}