.isocontainer__row {
    display: flex;
    flex-direction: row;
    margin-right: 70px;
    color: #ffffff;
    font-display: swap;
    font-size: 16px;
}
.isocontainer__row:hover {
    text-decoration-color: #ffffff;
}

.isocontainer__text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-top: 8px;
    padding-bottom: 8px;
}

@media only screen and (max-width: 1030px) {
    .isocontainer__text-container {
        transform: scale(.8);
        will-change: transform;
    }
    .isocontainer__row {
        margin-right: 5px;
    }
}
