.outlinebutton__container {
    padding: 20px;
    border: black solid 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
     margin-left: auto;
        margin-right: auto;
}

.pillaction__container {
    padding: 10px;
    border-style: solid;
    border-width: 0.5px;
    border-color: #424242;
    border-radius: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #ffffff;
    align-self: center;
    cursor: pointer;
    margin: 10px;
}
