.about__parallax-container {
    height: 10vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  background-color: #2196F3;
  padding: 10px;
}
.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 10px;
  font-size: 10px;
  text-align: center;
}

.card {
  padding: 0rem;
  border: 0rem;
}
.cardSmall {
  padding: 0rem;
  border: 0rem;
}

.cards {
  max-width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-gap: 1rem;
}

@media (min-width: 600px) {
  .cards { grid-template-columns: repeat(2, 1fr); }
}

.img2 {
  width: 100%;
  height: 300px;
  object-fit: cover;
  object-position: bottom;
}

.img{
  width: 10px;
  height: auto;
}


