.contact__info-container {
    width: 100%;
    height: auto;
    display: flex;
    align-items: center;
}

.contact__info-text {
    margin-left: 30px !important;
}


@media only screen and (max-width: 576px) {
    .contact__info-container {
        flex-direction: column;
        align-items: flex-start;
    }
    .contact__info-text {
        margin-left: 0;
        margin-top: 10px;
    }
}
