.history__container {
    width: 100vw;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.history__navigation-container {
    width: 100%;
    position: fixed;
    pointer-events: none;
    left: 50%;
    top: 40%;
    transform: translate(-50%, -40%);
    -webkit-transform: translate(-50%, -40%);
    will-change: transform;
    max-width: 1600px;
}


@media only screen and (max-width: 767px) {
    .history__navigation-container {
        visibility: hidden;
        display: none !important;
    }
}
