body::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
    display: flex;
}
 
body::-webkit-scrollbar-thumb {
  background-color: #E6E6E6;
  border-radius: 2px;
}

body::-webkit-scrollbar-button {
    width: 0;
    height: 0;
    display: none;
}
body::-webkit-scrollbar-corner {
    background-color: transparent;
}

body {
    overflow-x: hidden;
}
