.contactform__row {
    margin-top: 0 !important;
    margin-bottom: 10px !important;
}

.cf__input {
    background-color: #F2F2F2 !important;
    border-radius: 0px !important;
    border: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-display: swap;
    line-height: normal !important;
    color: #080738 !important;
    height: 80px !important;
}

.cf__input-large {
    background-color: #F2F2F2 !important;
    border-radius: 0px !important;
    border: 0 !important;
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-display: swap;
    line-height: normal !important;
    color: #080738 !important;
    padding-top: 25px !important;
}

.cf__input::placeholder {
    color: #929292 !important;
}

.cf__button {
    background-color: #0072BC !important;
    font-family: 'Archivo', sans-serif !important;
    border-radius: 0px !important;
    font-weight: 400 !important;
    color: #ffffff !important;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-display: swap;
    line-height: normal !important;
    height: 80px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.cf__buttonnext {
    background-color: #0072BC !important;
    font-family: 'Archivo', sans-serif !important;
    font-weight: 400 !important;
    color: #ffffff !important;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-display: swap;
    line-height: normal !important;
    height: 55px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
}

.cf__buttonback {
    background-color: rgb(255, 255, 255) !important;
    font-family: 'Archivo', sans-serif !important;
    font-weight: 400 !important;
    color: gray !important;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-display: swap;
    line-height: normal !important;
    height: 55px !important;
    padding-left: 30px !important;
    padding-right: 30px !important;
    border: 2px solid gray !important;
    margin-left: 20px  !important;
    width: 145px;
}

.cf__button-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

.cf__check {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-display: swap;
    line-height: normal !important;
    color: #929292 !important;
}


.cf__checkform {
    font-family: 'Open Sans', sans-serif !important;
    font-weight: 400 !important;
    font-size: calc(14px + (18 - 14) * ((100vw - 300px) / (1600 - 300))) !important;
    font-display: swap;
    line-height: normal !important;
    color: #696969 !important;
}

@media only screen and (max-width: 768px) {
    .cf__button-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        margin-top: 30px;
    }
}