.fc__container {
  margin-top: 30px;
}

.fc__row {
  width: 100%;
  height: auto;
  margin-top: 25px;
}

.fc__image-container {
  width: 100%;
  height: 300px;
  position: relative;
  object-fit: cover;
}
