.header__container {
  width: 100vw;
  height: 80px;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  background-color: rgba(255, 255, 255, 0.98);
  display: flex;
  border-bottom: #e5e5e5 solid 1px;
  z-index: 99999;
}

.header__container-hidden {
  top: 0;
  transform: translateY(-100%);
  -webkit-transform: translateY(-100%);
  will-change: transform;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}
.header__container-hidden-toggle {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  will-change: transform;
}

.header__container-inner {
  width: 100%;
  height: 100%;
  display: flex;
  max-width: 1600px;
  position: relative;
}

.header__logo-container {
  height: 100%;
  width: auto;
  display: flex;
  align-items: center;
}

.header__logo {
  height: 50px;
  width: auto;
  margin-left: 40px;
  margin-right: 40px;
}

.external__logo {
    height: 23px;
    width: auto;
}

.header__links-container {
  height: 100%;
  display: flex;
  align-items: center;
}

.header__link {
  color: black !important;
  font-family: "Archivo", sans-serif !important;
  text-transform: capitalize;
  margin-left: 25px;
  font-size: 14px;
  font-display: swap;
}

.header__link-white {
  color: #ffffff !important;
}

.header__link-green {
  color: #01d275 !important;
}

.header__link-white {
  color: #ffffff !important;
}

.header__burger-container {
  width: 60px;
  height: 60px;
  position: absolute;
  right: 0;
  top: 0;
  cursor: pointer;
  display: none;
  align-items: center;
  justify-content: center;
}

.header__burger-menu {
  width: 25px;
  height: auto;
  display: flex;
}

.header__mobile-menu-container {
  width: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #ffffff;
  border-bottom: #e5e5e5 solid 1px;
  padding: 50px;
  transform: translateY(-105%);
  -webkit-transform: translateY(-105%);
  will-change: transform;
  transition: transform 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.header__mobile-button {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border: #e5e5e5 solid 1px;
  border-radius: 4px;
}

.header__column-padding {
  margin-top: 10px !important;
}

.header__column-padding:nth-child(odd) {
  padding-right: 5px !important;
}
.header__column-padding:nth-child(even) {
  padding-left: 5px !important;
}

.header__mobile-title {
  font-family: "Archivo", sans-serif;
  font-weight: 400;
  font-size: 16px !important;
  line-height: normal;
  letter-spacing: 1px;
  font-display: swap;
}

.header__mobile-menu-row {
  display: flex;
  justify-content: space-around;
}

.header__menu-toggled {
  transform: translateY(0);
  -webkit-transform: translateY(0);
  will-change: transform;
}

@media only screen and (max-width: 1000px) {
  .header__container {
    height: 60px;
  }
  .header__logo {
    height: 30px;
    margin-left: 25px;
    margin-right: 25px;
  }
  .header__link {
    font-size: 12px;
  }
}

@media only screen and (max-width: 725px) {
  .header__links-container {
    display: none;
  }
  .header__burger-container {
    display: flex;
  }
  .header__logo-container {
    border-right: 0;
  }
}
