.nc__container {
  margin-top: 30px;
  width: 340px;
  border: solid lightgrey 0.5px;
  height: 400px;
}

.nc__row {
  width: 100%;
  height: auto;
}

.nc__image-container {
  border-bottom: solid grey 0px;
  width: 100%;
  padding: 1px;
  height: 150px;
  object-fit: cover;
}
